<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> Superlist</h1>
  <p>A simple iDoneIt project management app for Superflare.<p>
  <%= link_to "Sign up free", "#", class: "btn btn-primary btn-lg" %>
</div>